@model WebApplication1MVC.Models.Product

@{
    string title = "Delete Product";
}


<form method="post" enctype="multipart/form-data" asp-route-id ="id" asp-action="DeletePost" id="deleteForm">
    <input asp-for="id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="name" disabled class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span> @*validation only for name.*@
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="price" disabled class="form-control" />
                        <span asp-validation-for="price" class="text-danger"></span>  @*validation only for order.*@
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="description"  disabled class="form-control summernote"></textarea>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryID"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="category.name" disabled class="" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ApplicationID"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="applicationType.Name" disabled class="" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                                <input type="button" onclick="deleteCofirm()" class="btn btn-outline-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class=" btn btn-outline-primary w-100">Back</a> @*no controller needs to be mentioned when going on the same page. *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                @if (Model.id != 0)
                {
                    <img src="@WebConstants.imagePath@Model.imagePath" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts
{
    @*inside the validation script partial we have the js scripts.This will help with the client side validation*@

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote(
                {
                    height: 250,
                }
            );
        }); //this is necessary when the JS is at the bottom of the document. Check _Layout to see what's happening.



        function deleteCofirm() {

            const form = document.getElementById('deleteForm');
            //referencing the form from this document.
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                    setTimeout(function () {
                        form.submit(); //submitting the form only if the result is true. 
                    }, 1000);
                }
            })
        }
    </script>
}
