@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Exercises Library";
}

<div class="text-left">
    <h1 class="display-4">Your new Gym Buddy is Here</h1>
    <p>This is still work in progress big time. Come again at a later time</p>
</div>
